<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Application</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .navbar {
            display: flex;
            background-color: #333;
            padding: 10px;
        }
        .navbar a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
        }
        .navbar a:hover {
            background-color: #575757;
        }
        .container {
            padding: 20px;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'gen_qr' %}">Generate QR</a>
        <a href="{% url 'scan_qr' %}">Scan QR</a>
    </div>
    {% block content %}{% endblock content %}
   

 

    
</body>
</html>
